<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home task for study Avada Media">
    <meta name="author" content="Tiuriakov Alexander by Mihail@Kotov">
    <link rel="icon" href="http://localhost/Learn/Laravel/Apps/DaoApp/vendor/bootstrap-4.0.0/favicon.ico">

    <title>DAO Application</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost/Learn/Laravel/Apps/DaoApp/vendor/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="http://localhost/Learn/Laravel/Apps/DaoApp/View/web/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Тюряков Александр</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Wellcom</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>DAO на SQL</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=TopClient&context=Sql">
                  <span data-feather="file-text"></span>
                  Client # 1 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=TopProduct&context=Sql">
                  <span data-feather="file-text"></span>
                  Top expensive products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=Subquery&context=Sql">
                  <span data-feather="file-text"></span>
                  Correlating Subquery
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=Join&context=Sql">
                  <span data-feather="file-text"></span>
                  Right Join
                </a>
              </li>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>DAO на LaravelORM</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=TopClient&context=Laravel">
                  <span data-feather="file-text"></span>
                  Client # 1
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=TopProduct&context=Laravel">
                  <span data-feather="file-text"></span>
                  Top expensive products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=Subquery&context=Laravel">
                  <span data-feather="file-text"></span>
                  Correlating Subquery
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=Join&context=Laravel">
                  <span data-feather="file-text"></span>
                  Right Join
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost/Learn/Laravel/Apps/DaoApp?controller=Union&context=Laravel">
                  <span data-feather="file-text"></span>
                  Union
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Мое Задание</h1>
          </div>

          <h3><?php echo $view->sectionTitle()?></h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <?php foreach($view->getModel()->resultKey() as $keyHeader):?>
                    <?php if (preg_match('/^\d+$/', $keyHeader)){
                              continue;}?>
                  <th><?php echo $keyHeader?></th>
                  <?php endforeach;?>
                </tr>
              </thead>
              <tbody>
              <?php foreach($view->getModel()->getResult() as $row):?>
                <tr>
                  <?php foreach($row as $key => $value):?>
                    <?php if (preg_match('/^\d+$/', $key)){
                              continue;}?>
                  <td><?php echo $value?></td>
                  <?php endforeach;?>
                </tr>
                <?php endforeach;?>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
